*
{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.head
{
    background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.3), rgba(0,0,0,1)), url(netflix\ main.jpeg);
    background-size: cover;
    height: 700px;
    width: 100%;
    background-position: center;
    padding: 10px 8%;
}

.header
{
    display: flex;
}

h1
{
    color: white;
}

body
{
    background-color: black;
}

.logo
{
    background-image: url(logo.png);
    height: 40px;
    background-size: cover;
    width: 150px;
    margin-top: 13px;
    margin-left: 50px;
    display: flex;
}

.option
{
    background-color: transparent;
    color: #ffffff;
    height: 32px;
    width: 126px;
    font-size: 17px;
    text-align: center;
    border-radius: 5px;
    margin-left: 720px;
    margin-top: 20px;
}

button
{
    background-color: #e50914;
    color: #ffffff;
    height: 32px;
    width: 80px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 20px;
}

button:hover
{
    background-color: #af2932;
    transition: 0.5s;
    cursor: pointer;
}

.cont
{
    color: #ffffff;
    text-align: center;
    margin-top: 230px;
}

.cont h1
{
    font-size: 48px;
}

.cont p
{
    font-size: 20px;
    margin-top: 30px;
}

input
{
    height: 56px;
    width: 380px;
    border: none;
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 3px;
    margin-top: 20px;
    color: white;
    font-size: 17px;
    text-align: left;
}

input::placeholder
{
    position: absolute;
    padding: 0 20px;
    transition: 0.2s ease;
}

input:focus ~ input::placeholder
{
    top:10px;
}

.email
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.email button
{
    height: 56px;
    width: 200px;
    font-size: 24px;
}

.page1
{
    height: 560px;
    padding: 72px 0px;
    border-top: 7px solid rgb(41, 39, 39);
    border-bottom: 7px solid rgb(41, 39, 39);
    color:#ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page1 h2
{
    font-size: 48px;
    margin-bottom: 15px;
    font-weight: 900;
}

.page1 p
{
    font-size: 24px;
}

.page1 img
{
    height: 410px;
    width: 550px;
}

.page2
{
    height: 560px;
    padding: 72px 0px;
    border-bottom: 7px solid rgb(41, 39, 39);
    color:#ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page2 h2
{
    font-size: 48px;
    margin-bottom: 15px;
    font-weight: 900;
}

.page2 p
{
    font-size: 24px;
}

.page2 img
{
    height: 410px;
    width: 550px;
}

.page3
{
    height: 560px;
    padding: 72px 0px;
    border-bottom: 7px solid rgb(41, 39, 39);
    color:#ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page3 h2
{
    font-size: 48px;
    margin-bottom: 15px;
    font-weight: 900;
}

.page3 p
{
    font-size: 24px;
}

.page3 img
{
    height: 410px;
    width: 550px;
}

.page4
{
    height: 560px;
    padding: 72px 0px;
    border-bottom: 7px solid rgb(41, 39, 39);
    color:#ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page4 h2
{
    font-size: 48px;
    margin-bottom: 15px;
    font-weight: 900;
}

.page4 p
{
    font-size: 24px;
}

.page4 img
{
    height: 410px;
    width: 550px;
}

.page5
{
    height: 1000px;
    border-bottom: 7px solid rgb(41, 39, 39);
    color:#ffffff;
    text-align: center;
}

.page5 h2
{
    font-size: 48px;
    margin-top: 80px;
    font-weight: 900;
}

.list
{
    margin: 25px auto;
    width: 100%;
    max-width: 750px;
    margin-left: 170px;
}

.list li
{
    list-style: none;
    width: 100%;
    padding: 5px;
}

.list li label
{
    display: flex;
    align-items: center;
    padding: 24px;
    font-size: 24px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
    width: 1110px;
    height: 84px;
}

label::after
{
    content: '+';
    font-size: 50px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}

input[type="radio"]
{
    display: none;
}

.list .ans
{
    text-align: left;
    font-size: 24px;
    background-color: #303030;
    width: 1110px;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.list input[type="radio"]:checked + label + .ans
{
    max-height: 234px;
    padding: 30px 20px;
}

.list input[type="radio"]:checked + label::after
{
    transform: rotate(135deg);
}

small p
{
    font-size: 20px;
}

.page6
{
    height: 460px;
    color: #ffffffb3;
    padding: 50px 13% 10px;
}

.page6 a
{
    text-decoration: underline;
    cursor: pointer;
}

.option1
{
    background-color: transparent;
    color: #ffffff;
    height: 32px;
    width: 126px;
    font-size: 17px;
    text-align: center;
    border-radius: 5px;
    margin-top: 30px;
}

.net
{
    font-size: 14px;
    margin-top: 20px;
}

.q
{
    font-size: 16px;
    margin-top: 20px;
}

.footer
{
    display: flex;
    margin-top: 40px;
}

.footer ul
{
    list-style-type: none;
}

.footer li
{
    margin-top: 15px;
}

.footer ul a
{
    color: #ffffffb3;
    font-size: 14px;
    text-decoration-color: #ffffff;
}

.list2
{
    margin-left: 230px
}

.list3
{
    margin-left: 230px;
}